body {
	padding: 0;
	margin: 0;
	z-index: 1;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
a {
	color: #000;
	text-decoration: none;
	outline: none;
}
a:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
#container {
	min-width: 1005px;
	background-color: #f6f6f6;
	font-family: "Microsoft YaHei";
}
.header-area {
	background-color: #207d6a;
	height: 58px;
}
#logo{
	position: absolute;
	left: 0;
	width: 180px;
	height: 86px;
	background: url(/img/bg_logo.png) no-repeat;
	text-align: center;
}
.nav {
	position: relative;
	width: 1000px;
	height: 86px;
	padding-left: 180px;
	margin: 0 auto;
	box-sizing: border-box;
}
.nav > ul {
	float: left;
}
.nav ul li{
	float: left;
	width: 122px;
	height: 58px;
}
.nav ul li > a{
	display: block;
	height: 32px;
	line-height: 32px;
	margin-top: 13px;
	padding: 0 15px;
	border-right: 1px solid #30937e;
	color: #fff;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	text-align: center;
	outline: none;
}